<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Movie Listings</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <a href="/">Film Vault</a>
        </div>
        <div class="search-bar">
          <form action="/search" method="get">
            <input
              type="text"
              name="title"
              placeholder="Search for a movie..."
            />
            <button type="submit">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3.75 9C3.75 6.1005 6.1005 3.75 9 3.75C11.8995 3.75 14.25 6.1005 14.25 9C14.25 11.8995 11.8995 14.25 9 14.25C6.1005 14.25 3.75 11.8995 3.75 9ZM9 2.25C5.27208 2.25 2.25 5.27208 2.25 9C2.25 12.7279 5.27208 15.75 9 15.75C10.5938 15.75 12.0585 15.1976 13.2133 14.2739L16.7192 17.7799C17.0121 18.0728 17.487 18.0728 17.7799 17.7799C18.0728 17.487 18.0728 17.0121 17.7799 16.7192L14.2739 13.2133C15.1976 12.0585 15.75 10.5938 15.75 9C15.75 5.27208 12.7279 2.25 9 2.25Z"
                  fill="#93959C"
                />
              </svg>
            </button>
          </form>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="wrapper">
          <% movies.forEach(movie => { %>
          <div class="movie">
            <a href="/movie/<%= movie.id %>">
              <div class="img_container">
                <% if (movie.poster_path) { %>
                <!-- Check if image path is available -->
                <img
                  src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>"
                  alt="<%= movie.title %> Poster"
                />
                <% } else { %>
                <img src="/images/no-poster.png" alt="No poster available" />
                <!-- Fallback image -->
                <% } %>
              </div>
              <div class="movie-title"><%= movie.title %></div>
              <div class="release-date"><%= movie.release_date %></div>
            </a>
          </div>
          <% }); %>
        </div>

        <div class="pagination">
          <% if (currentPage > 1) { %>
          <a href="/?page=1" class="first-button">First</a>
          <a href="/?page=<%= currentPage - 1 %>" class="prev-button"
            >Previous</a
          >
          <% } %> <% let startPage = Math.max(1, currentPage - 2); %> <% let
          endPage = Math.min(totalPages, currentPage + 2); %> <% for (let i =
          startPage; i <= endPage; i++) { %>
          <a
            href="/?page=<%= i %>"
            class="<%= i === currentPage ? 'active' : '' %>"
          >
            <%= i %>
          </a>
          <% } %> <% if (currentPage < totalPages) { %>
          <a href="/?page=<%= currentPage + 1 %>" class="next-button">Next</a>
          <a href="/?page=<%= totalPages %>" class="last-button">Last</a>
          <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
